*{
    font-family: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

div{
    display: inline-block;
    vertical-align: top;
}

.leftHead{
    width: 15%;
}

.contentHead{
    width: 65%;
}

.header{
    text-align: center;
}

.rightHead{
    width: 15%;
}

.buttonHead {
    width: 100px;
    display: inline-block;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(163, 116, 233);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.buttonHead:hover {
    background-color: rgb(85, 61, 121);
}

.buttonHead:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.student{
    text-align: left;
}

table, th, td{
    border: 1px solid;

}
table{
    text-align: center;
    width: 100%;
}

.head_list{
    display: block;
    text-align:center;
}