*{
    font-family: 'Roboto', sans-serif;
}
.main-container{
    position: relative;
    top: 110px;
}
.main-background{
    background-image: url(../img/взыскание.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
    position: relative;
    top: -110px;
}
p,li,ul{
    color: white;
}


.navbar-nav, .nav-link, .active {
    color: white;
}

.main-h1{
    margin-top: 130px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    font-weight: 400;
}
.main-h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    color: white;
    font-size: 36px;
    font-weight: 600;

}
.main-h5{
    text-align: center;
    color: white;
}

.p-main-text{
    font-size: 30px;
    font-weight: 600;
}

.li-main-text{
    font-size: 18px;
    margin-top: 30px;
}

.galka{
   margin-right: 10px; 
}

li{
    list-style-type: none;
}
.list{
    margin-bottom: 10px; 
}

.center-h1{
    text-align: center;
    text-transform: uppercase;
}

.middle-text{
    margin-top: 40px;
    text-align: center;
}

.flex-container{
    display: flex;
    margin-top: 115px;
    justify-content: center;
}

.icon{
    align-items: flex-start;
}

.arrow{
   align-items: stretch;
   margin-inline: 15px;
   position: relative;
   top: 30px;
}

.number{
    color: #2f93d8;
}

.main-form{
    height: 320px;
    width: 380px;
    background-color: white;
}
    
.p-form{
    color: #2f93d8;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
    
.main-button{
    background-color: #2f93d8;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 30px;
    border-color: white;
    border-radius: 5px;
}

.phone, .main-name{
    margin: 10px 30px;
}

input{
    height: 50px;
    width: 318px;    
}

.intro-section{
    margin-top: 200px;
}
  
.price1 p, .price2 p, .price3 p, .price1, .price2, .price3{
    color: black;
}

.price1 h3, .price2 h3, .price3 h3{
    font-size: 36px;
    margin-top: 50px;
}

.p-price{
    font-size: 36px;
    font-weight: 600;
    color: #2f93d8;
}
   
.flex-item1-price, .flex-item3-price {
    height: 430px;
    width: 270px;
    display: inline-block;
    box-shadow: 0px 0px 20px -10px black;
    text-align: center;
}
.flex-item2-price{
    height: 455px;
    width: 270px;
    display: inline-block;
    box-shadow: 0px 0px 20px -10px black;
    text-align: center;
}

.flex-container-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-pills .nav-link.active{
    border-radius: 0;
    background-color: #2f93d8;
    font-size: 16px;
}

.center-price-h1{
    margin-top: 105px;
    margin-bottom: 85px;
    text-align: center;
    text-transform: uppercase;
}
.price-list{
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}
.price-span{
    text-align: left;
    margin-top: 55px;
    margin-left: 30px;
}

.btn, .btn-primary{
    width: 220px;
    height: 55px;
    margin-top: 25px;
}

.partner{
    margin-top: 140px;
    width: 1150px;
    height: 540px;
    box-shadow: 0px 0px 20px -10px #2f93d8;
}

.center-h1-partner{
    position: relative;
    top: 75px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 75px;
}
.flex-partner, .flex-partner1{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 30px;
}

.flex-partner-item{
    align-items: flex-start;
   
}
.flex-partner-item1{
    align-items: flex-end;
}

.price-container{
    margin-bottom: 105px;
}

.page-bottom{
    width: 1150px;
    height: 610px;
    background-color: #2f93d8;
}

.flex-bottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.flex-item1-bottom{
    margin-left: 50px;
}

.flex-item2-bottom{
    margin-top: 100px;
    margin-right: 55px;
    text-align: center;
}

.bottom-h1{
    font-size: 60px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin-top: 105px;
}

.bottom-p{
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin-top: 55px;
}

.bottom-a{
    color: #2f93d8;
    font-weight: 600;
}

.bottom-form{
    height: 340px;
    width: 380px;
    background-color: white;
}

.nav-link {
    color: black;
}

    